a, a:hover{
    text-decoration: none;
}
.navbar .dropdown-menu {
    margin-top: -16px !important;
}

#blog_single .navbar-nav .nav-item .nav-link {
    color: #000;
}

.all-overflow {
    overflow: hidden;
}

.m-phon .phone {
    color: #000 !important;
}

.m-phon .phone path {
    fill: #000;
}

#blog_single .container {
    max-width: 1380px;
}

#blog_single .slider {
    position: relative;
}

.mob_blog {
    display: none;
}

/* Slider part START */

#blog_single .prev {
    position: absolute;
    top: 50px;
    right: 70px;
    z-index: 99;
    width: 30px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 50%;
    text-align: center;
    transition: all linear .3s;
}

#blog_single .prev svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blog_single .prev:hover {
    background: #4F81BD;
    color: #FFFFFF;
    border: none;
}

#blog_single .prev:hover path {
    fill: #fff;
}

#blog_single .next {
    position: absolute;
    top: 50px;
    right: 29px;
    z-index: 99;
    width: 30px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 50%;
    text-align: center;
    transition: all linear .3s;
}

#blog_single .next path {
    fill: #000;
}

#blog_single .next:hover path {
    fill: #fff;
}

#blog_single .next svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blog_single .next:hover {
    background: #4F81BD;
    color: #FFFFFF;
    border: none;
}

/* Slider part END */
/* =========================== BLOG-SINGLE PART START =========================== */

#blog_single .padding-top {
    padding-top: 150px;
}

.blog_single-part h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #000000;
    font-weight: 400;
}

.ul-li-part ul {
    list-style-type: none;
    margin: 0;
}

.ul-li-part ul li {
    display: inline-block;
    padding: 0 36px;
}

.ul-li-part ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #AAAAAA;
    position: relative;
    text-decoration: none;
}

.category {
    padding-top: 30px;
}

.blog_single-part.padding {
    padding-left: 40px;
}

.ul-li-part ul li a::after {
    position: absolute;
    content: '';
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 1px;
    background: #4F81BD;
}

.ul-li-part ul li a.active {
    color: #000000;
}

.blog_single-part {
    padding: 10px 35px;
    width: 100%;
}

.blog_single-part h2 {
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
}

.blog_single-part p {
    font-size: 16px;
    color: #666;
    line-height: 30px;
    margin: 8px 0;
    text-align: justify;
}

.blog_single-part .category a {
    display: block;
    padding-bottom: 16px;
    color: #000000;
    font-size: 16px;
}

.blog_single-part .category a svg {
    margin-right: 10px;
}

#blog_single .social-link {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 150px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}


#blog_single .social-link a {
    margin-bottom: 5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #EEEEEE;
    text-align: center;
    transition: all linear .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}


#blog_single .social-link a:hover {
    background: #4F81BD;
}


.blog_single-part h4 {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.blog_single-part h4.padding {
    padding-top: 15px;
    padding-bottom: 25px;
}

.blog_single-part h4 a {
    color: #4F81BD;
    text-decoration: underline;
}

.blog_single-part span {
    font-size: 16px;
    color: #666666;
    padding-top: 15px;
    display: block;
}

.heading-tag-part h1 {
    font-size: 40px;
    color: #000000;
    padding-top: 45px;
}

.heading-tag-part p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.heading-tag-part p a {
    color: #4F81BD;
    text-decoration: underline;
}

.heading-tag-part .ul-li-part {
    padding-top: 0;
}

.heading-tag-part ul {
    padding-left: 40px;
}

.heading-tag-part ul li {
    display: block;
    padding: 5px 0;
}

.heading-tag-part ul li a {
    cursor: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.heading-tag-part h2 {
    font-size: 35px;
    color: #000000;
    padding-top: 45px;
}

.heading-tag-part h3 {
    font-size: 30px;
    color: #000000;
    padding-top: 45px;
}

.heading-tag-part h4 {
    font-size: 25px;
    color: #000000;
    padding-top: 45px;
}

.heading-tag-part h5 {
    font-size: 20px;
    color: #000000;
    padding-top: 45px;
}

.heading-tag-part h6 {
    font-size: 16px;
    color: #000000;
    position: relative;
    padding-top: 55px;
    padding-bottom: 25px;
}

.heading-tag-part h6::before {
    position: absolute;
    content: '';
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EEEEEE;
}

.heading-tag-part h6::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EEEEEE;
}

.blog_single-profile-part {
    padding-top: 30px;
}

/* =============== blog_single-profile-part PART START =============== */


.blog_single-profile-part .profile-img-part {
    display: flex;
    align-items: center;
}

.blog_single-profile-part .profile-img-part .img-part {
    padding-right: 20px;
}

.blog_single-profile-part .profile-img-part .text-part h3 {
    font-size: 16px;
    color: #000000;
}

.blog_single-profile-part .profile-img-part .text-part h4 {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    padding-top: 10px;
}

.social-link.mobile {
    display: none;
}

.Blog_mob {
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: #AAAAAA;
}

.Blog_mob span {
    font-weight: 400;
    font-size: 16px;
    color: #AAAAAA;
}

.blog_single-profile-part .slider h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
}

.blog_single-profile-part .blog-slider-item h4 {
    font-size: 16px;
    color: #4F81BD;
    font-weight: 400;
    padding-top: 23px;
}

.blog_single-profile-part .blog-slider-item span {
    font-size: 14px;
    color: #AAAAAA;
    font-weight: 400;
    cursor: pointer;
    float: right;
    margin-right: 28px;
}

.blog_single-profile-part .blog-slider-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    padding-right: 20px;
    padding-top: 15px;
}

/*  Login & signup design form */

.btn.btn-primary{
    background: #2687c9;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.btn.btn-primary-sm{
    background: #2687c9;
    font-weight: 600;
    line-height: 20px;
    color: white;
}

#loginPart{
    min-height: 80vh;
    position: relative;
    top: 90px;
    padding: 50px;
    margin-bottom: 90px;
    background: rgb(230, 230, 230);
    background: -moz-linear-gradient(-45deg, rgb(230, 230, 230) 0%, rgb(249, 249, 249) 40%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(230, 230, 230) 0%, rgb(249, 249, 249) 40%, rgb(255, 255, 255) 100%);
    background: linear-gradient(135deg, rgb(230, 230, 230) 0%, rgb(249, 249, 249) 40%, rgb(255, 255, 255) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=1);
}

.login_signup_left {
    display: flex;
    align-items: center;
    width: 100%;
    float: left;
    height: 100%;
    justify-content: center;
    position: relative;
}

.login_signup_left::after{
    content: '';
    position: absolute;
    height: 80%;
    width: 1px;
    background: #e8e8e8;
    right: 0;
}

.login_signup_left h3.desk {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    float: left;
    width: 100%;
}

.login_signup_right{
    -moz-box-shadow: 0 4px 30px rgba(0,0,0,.06);
    -webkit-box-shadow: 0 4px 30px rgba(0,0,0,.06);
    box-shadow: 0 4px 30px rgba(0,0,0,.06);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 25px 30px;
    background: #fff;
    font-family: 'Rubik', sans-serif !important;
}
.login_signup_right h3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #666666 !important;
    padding-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

.login_signup_right p{
    font-size: 13px !important;
    line-height: 15px !important;
    color: #666666;
    font-family: 'Rubik', sans-serif;
}

.login_signup_right p a{
    margin-left: 5px;
    color: #4F81BD;
}

.login_signup_right p a:hover{
    text-decoration: none;
}
.login_signup_right form.form{
    margin-top: 15px;
}

.login_signup_right .form-label {
    font-weight: bold;
    color: rgb(79 129 189 / 69%);
    font-size: 13px;
    padding-bottom: 0px;
    display: block;
    font-family: 'Rubik', sans-serif;
}

.from-group {
    margin-bottom: 15px !important;
}

.from-group label.form-label,
.from-group label {
    font-weight: 500;
    display: block;
    width: 100%;
}
.radio label{
    margin-right: 10px;
}
.radio label input {
    margin-right: 5px !important;
}

.form-control,
.form-control:focus {
    padding: 15px;
    color: rgb(153 153 153 / 86%);
    font-size: 18px;
    background: rgb(217 217 217 / 43%) !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 50px !important;
    font-family: 'Rubik', sans-serif;
}

.form-control::placeholder {
    color: rgb(153 153 153 / 86%) !important;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.login_signup_right button.btn.btn-primary {
    width: 100%;
    height: 50px;
    color: #fff!important;
    border: none;
    margin: 10px 0;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.userName_Password_remember {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

label.login_check {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

label.login_check input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}
input.form-control.choseFile {
    padding: 7px 15px;
    border: 2px dashed;
}

/* Right SideBar Design */

.sidebar{
    float: left;
    width: 100%;
}

.sidebar .sideBlock{
    width: 100%;
    background: #eee;
    margin-bottom: 20px;
    padding: 15px;
}

.sidebar .sideBlock h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar .sideBlock ul{
    width: 100%;
}

.sidebar .sideBlock .btn.btn-primary{
    height: 35px;
    width: 80%;
    margin: 0 10%;
}

.sidebar .sideBlock ul li{
    font-size: 14px;
    margin-bottom: 10px;
    list-style: inside;
    list-style-type: circle;
    padding-left: 8px;
}
.sidebar .sideBlock ul li:last-child{
    margin-bottom: 0;
}
.sidebar .sideBlock p {
    font-size: 14px !important;
    line-height: 21px !important;
}

.sidebar .sideBlock p span{
    color: #4F81BD;
}

/* User Info Page */
#UserInfoPage{
    min-height: 80vh;
    position: relative;
    top: 90px;
    padding: 50px;
    margin-bottom: 90px;
}

.userCardView{
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 10px #ececec;
    border: 1px solid #ddd;
}

.userCardView .card{
    border: none;
    background: none;
}

.userCardView .card .card-header {
    text-align: center;
    background: none;
}

.userCardView img.profile_img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    border: 10px solid #4f81bd8f;
    margin-bottom: 20px;
}

.userCardView img.profile_img+h3 {
    font-size: 25px;
    padding-bottom: 0;
    text-transform: uppercase;
    line-height: 30px;
}

.userCardView .card .card-body p.mb-0 strong {
    margin-right: 10px;
    color: #4f81bd;
}
.userinfoRight {
    border-radius: 15px;
    box-shadow: 0 0 10px #ececec;
    padding: 0 30px 30px;
    border: 1px solid #ddd;
    position: relative;
    top: 25px;
}

ul.userInfoTab.nav-tabs {
    margin-bottom: 0;
    margin-top: -42px;
}

ul.userInfoTab.nav-tabs li{
    display: inline-block;
    padding: 10px;
}

ul.userInfoTab.nav-tabs li a{
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

ul.userInfoTab.nav-tabs li.active a {
    background: #4f8ad0;
    color: #fff;
}

.userInfoTab_content.tab-content {
    padding-top: 25px;
}

#userInfoView img.profile_img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
}

form.reachForm {
    padding: 10px;
}

form.reachForm .from-group {
    margin-bottom: 10px;
}
.reachForm h1,
.reachForm h2,
.reachForm h3,
.reachForm h4,
.reachForm h5,
.reachForm h6{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form.reachForm label{
    font-weight: 600;
    font-size: 14px;
    display: block;
}

form.reachForm .form-control{
    margin-bottom: 8px;
}

form.reachForm .radio{
    display: flex;
    align-items: center;
}

form.reachForm .radio label {
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

form.reachForm .radio label input[type="radio"]{
    margin-right: 5px;
}

.notableProject, .researchPL {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea.form-control,
textarea.form-control:focus {
    resize: none;
    height: 150px;
}

form.contactForm7 .from-group {
    margin: 10px 0;
}

form.contactForm7 .from-group label.form-label {
    font-weight: 600;
}

.bicmMap {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bicmMap iframe {
    width: 100%;
    border-radius: 10px;
}

.contactSidebar{
    padding: 10px 0;
}

.contactSidebar div{
    padding-top: 10px;
}

.contactSidebar p {
    font-size: 15px !important;
    margin-bottom: 10px;
}

.contactSidebar div h6{
    font-weight: 500;
    padding-bottom: 10px;
    position: relative;
}

.contactSidebar div h6::after {
    content: '';
    width: 15%;
    height: 2px;
    background: #4F81BD;
    position: absolute;
    bottom: 4px;
    left: 0;
}

.contactSidebar div label {
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;
}

ul.researchFormUl {
    list-style: inside;
    padding: 20px;
}

ul.researchFormUl li{
    list-style: decimal-leading-zero;
    padding-left: 8px;
    font-weight: 500;
    line-height: 26px;
    font-size: 14px;
}
/* =============== blog_single-profile-part PART END =============== */


/* =========================== BLOG-SINGLE PART END =========================== */

/* ====================================================== MEDIA PART START ====================================================== */

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1440px) {
    #blog_single .container {
        max-width: 1200px;
        padding: 0;
    }

    .blog_single-profile-part .slick-slide img {
        width: 95%;
    }

    .blog_single-profile-part .blog-slider-item span {
        margin-right: 25px;
    }

}



@media (min-width: 992px) and (max-width: 1199px) {
    #blog_single .navbar-toggler i {
        color: #000 !important;
    }

    #blog_single .navbar-nav .nav-item .nav-link {
        color: #FFF;
    }

    .blog_single-profile-part .slick-slide img {
        width: 95%;
    }

    .blog_single-profile-part .blog-slider-item span {
        margin-right: 25px;
    }
}

/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-toggler i {
        color: #000 !important;
    }

    .blog_single-part h3 {
        font-size: 22px;
        text-align: center;
        margin: auto;
        max-width: inherit;
        line-height: 38px;
    }

    .ul-li-part ul {
        text-align: center;
    }

    .ul-li-part ul li {
        padding: 0 20px;
    }

    .ul-li-part ul li:last-child {
        display: none;
    }

    .ul-li-part ul li:first-child a::after {
        display: none;
    }

    .blog_single-part.padding {
        display: none;
    }

    .social-link {
        display: none;
    }

    .social-link.mobile {
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }

    #blog_single .social-link.mobile a {
        display: inline-block;
        margin-right: 18px;
    }

    .Blog_mob {
        display: block;
        padding-top: 15px;
    }

    .Blog_mob span {
        float: right;
        padding: 0;
    }

    .blog_single-part span {
        font-size: 14px;
    }

    .heading-tag-part h1 {
        font-size: 20px;
    }

    .heading-tag-part h2 {
        font-size: 20px;
    }

    .heading-tag-part h3 {
        font-size: 20px;
    }

    .heading-tag-part h4 {
        font-size: 20px;
    }

    .heading-tag-part h5 {
        font-size: 20px;
    }

    .heading-tag-part .ul-li-part ul {
        text-align: left;
        padding-left: 15px;
        padding-top: 20px;
    }

    .heading-tag-part .ul-li-part ul li {
        display: block;
        padding-bottom: 10px;
    }

    .heading-tag-part .ul-li-part ul li a::after {
        display: block;
    }

    .heading-tag-part .ul-li-part ul li a::after {
        top: 10px;
        transform: none;
    }

    .heading-tag-part h6,
    .blog_single-profile-part .profile-img-part .text-part h3,
    .blog_single-profile-part .profile-img-part .text-part h4 {
        font-size: 14px;
    }

    .blog_single-profile-part .slick-slide img {
        height: inherit;
        width: 100%;
    }

    .blog_single-profile-part .blog-slider-item span {
        margin-right: 0;
    }

    #blog_single .next {
        right: 0;
    }

    #blog_single .prev {
        right: 40px;
    }

    .mob_blog {
        display: block !important;
        padding-top: 45px;
    }

    .mob_blog .blog_single-part {
        display: block;
        padding-left: 0;
    }

    .mob_blog .blog_single-part .category {
        display: flex;
        overflow-x: scroll;
    }

    .mob_blog .blog_single-part .category a {
        display: flex;
        align-items: center;
        padding-right: 25px;
    }

    .mob_blog .blog_single-part .category a {
        color: #000000;
        opacity: 0.3;
    }

    .mob_blog .blog_single-part .category a.active {
        color: #000000;
        opacity: 1;
    }

}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 320px) and (max-width: 767.98px) {
    .navbar-toggler i {
        color: #000 !important;
    }

    .blog_single-part h3 {
        font-size: 22px;
        text-align: center;
        margin: auto;
        max-width: 325px;
        line-height: 38px;
    }

    .ul-li-part ul {
        text-align: center;
    }

    .ul-li-part ul li {
        padding: 0 20px;
    }

    .ul-li-part ul li:last-child,
    .ul-li-part ul li:first-child a::after,
    .blog_single-part.padding,
    .social-link {
        display: none;
    }

    .social-link.mobile {
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }

    #blog_single .social-link.mobile a {
        display: inline-block;
        margin-right: 18px;
    }

    #blog_single .social-link.mobile a:last-child {
        margin-right: 0;
    }

    #blog_single .social-link {
        padding-top: 10px;
    }

    .ul-li-part {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    #blog_single .padding-top {
        padding-top: 140px;
    }

    .heading-tag-part h2 {
        padding-top: 20px;
    }

    .Blog_mob {
        display: block;
        padding-top: 15px;
    }

    .Blog_mob span {
        float: right;
        padding: 0;
    }

    .blog_single-part span {
        font-size: 14px;
    }

    .heading-tag-part h1,
    .heading-tag-part h2,
    .heading-tag-part h3,
    .heading-tag-part h4,
    .heading-tag-part h5 {
        font-size: 20px;
    }

    .heading-tag-part .ul-li-part ul {
        text-align: left;
        padding-left: 15px;
        padding-top: 20px;
    }

    .heading-tag-part .ul-li-part ul li {
        display: block;
        padding-bottom: 10px;
    }

    .heading-tag-part .ul-li-part ul li a::after {
        display: block;
    }

    .heading-tag-part .ul-li-part ul li a::after {
        top: 10px;
        transform: none;
    }

    .heading-tag-part h6,
    .blog_single-profile-part .profile-img-part .text-part h3,
    .blog_single-profile-part .profile-img-part .text-part h4 {
        font-size: 14px;
    }

    .blog_single-profile-part .slick-slide img {
        height: inherit;
        width: 100%;
    }

    .blog_single-profile-part .blog-slider-item span {
        margin-right: 0;
    }

    #blog_single .next {
        right: 0;
    }

    #blog_single .prev {
        right: 40px;
    }

    .mob_blog {
        display: block !important;
        padding-top: 45px;
    }

    .mob_blog .blog_single-part {
        display: block;
        padding-left: 0;
    }

    .mob_blog .blog_single-part .category {
        display: flex;
        overflow-x: scroll;
    }

    .mob_blog .blog_single-part .category a {
        display: flex;
        align-items: center;
        padding-right: 25px;
    }

    .mob_blog .blog_single-part .category a {
        color: #000000;
        opacity: 0.3;
    }

    .mob_blog .blog_single-part .category a.active {
        color: #000000;
        opacity: 1;
    }

}


div#researchOrganization {
    margin-top: 20px;
}

.researchPL.row h4,
.researchPL.row h5 {
    margin-bottom: 10px;
}

.notableProject.row .col-lg-6 {
    float: left;
}

.notableProject.row h6.col-lg-12 {
    float: left;
    margin: 10px 0;
}

